body {
	background-color: #222;
	margin: 0px;
	overflow: hidden;
}
canvas {
	background-color: #333;
}
textarea {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	opacity: 0.75;
	padding: 10px;
	background-color: #111;
	color: #ccc;
	border: none;
	resize: none;
	height: 100px;
	font-size: 8px;
}
div.buttons {
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	font-size: 0px;
}
div.buttons button:not(button:nth-child(1)) {
	margin-left: 5px;
}
div.buttons button {
	vertical-align: top;
	border: none;
	height: 30px;
	width: 30px;
	cursor: pointer;
}
