body {
	background-color: #222;
	margin: 0px;
	overflow: hidden;
	color: #ccc;
	font-family: monospace;
}
canvas {
	background-color: #333;
}
textarea {
	position: fixed;
	top: 100px;
	left: 10px;
	right: 10px;
	padding: 10px;
	background-color: #333;
	color: #ccc;
	border: none;
	resize: none;
	height: 100px;
	font-size: 7px;
	box-shadow: 0px 0px 10px #000;
}

div.buttons {
	position: fixed;
	left: 10px;
	top: 10px;
	font-size: 0px;
}
div.buttons button {
	padding: 3px;
	border: 4px solid #aaa;
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 50%;
	opacity: 0.75;
	cursor: pointer;
}
div.buttons button img {
	width: 32px;
	height: 32px;
}
div.buttons button:not(button:nth-child(1)) {
	margin-left: 10px;
}
div.buttons button.disabled {
	filter: saturate(0) brightness(0.5) opacity(0.75);
}
